<nav class="navbar navbar-expand-md navbar-custom">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/hilfe"
        >Hilfe</a
      >
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        routerLinkActive="active"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
        Informationen
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/abkuerzungen">Abkürzungen</a>
        <a class="dropdown-item" routerLink="/beteiligte">Beteiligte</a>
        <a class="dropdown-item" routerLink="/fachinformationen"
          >Fachinformationen</a
        >
      </div>
    </li>
  </ul>
</nav>
