<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Tierwohl-indikatoren</h3>
    </div>
  </div>
  <div class="row">

    <section class="example-section">
      <span class="example-list-section">
        <ul *ngFor="let subtask of task.indikatorenTierart">
           <li> <mat-checkbox [checked]="updateAllComplete(subtask.id)"
            [indeterminate]="someComplete(subtask.id)"
            (change)="setAll($event.checked, subtask.id, subtask)">{{subtask.gruppeBegriff}}</mat-checkbox></li>
           <ul>
             <li *ngFor="let c of subtask.indikatoren"> <mat-checkbox [(ngModel)]="c.completed"
              (ngModelChange)="updateAllComplete(subtask.id)">{{c.name}}</mat-checkbox> </li>
           </ul>
        </ul>
      </span>
    </section>


  <div class="row mt-5">

  </div>



</div>
<div class="spacer"></div>
