<div class="background">
  <div class="spacer"></div>
  <div class="container rg p-3">
    <h2>
      <strong>NaTiMon – Nationales Tierwohl-Monitoring</strong>
    </h2>
    <div class="spacer"></div>

    <div class="row m-0 rg-2 p-2">
      <div class="col-md-12">
        <p>
          <strong>NaTiMon – Nationales Tierwohl-Monitoring</strong>
          <br />
          <br />
          Mit diesem Projekt sollen die Grundlagen für eine objektive Erfassung
          des Tierwohls in Deutschland geschaffen werden, um Politik,
          Landwirtschaft, Wissenschaft, Beratung und Verbrauchern eine
          verlässliche Informationsquelle zu bieten.<br />

          Mittels Literatur-Analysen, Probeerhebungen der Indikatoren auf
          Betrieben, Fachgesprächen, Spezialisten-Befragungen und einer
          Stakeholder-Analyse werden die Grundlagen für ein regelmäßiges,
          indikatorengestütztes Monitoring des Tierwohls in der Nutztierhaltung
          erarbeitet. Für Rinder, Schweine, Hühner und Puten, Forellen und
          Karpfen aus der Aquakultur sowie zukünftig Schafe und Ziegen werden
          tier-, management- und ressourcenbezogene Indikatoren für die Bereiche
          Haltung, Transport und Schlachtung ausgewählt und in der Praxis
          getestet.
          <br />
          Final entwickelt das Projektkonsortium drei in ihrem Umfang
          unterschiedliche Prototypen für ein nationales Tierwohl-Monitoring
          sowie Empfehlungen für eine kontinuierliche Erhebung von
          konsensfähigen Indikatoren zur Bewertung des Tierwohls.
        </p>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-3">
          <button
          mat-raised-button color='primary' class="custom-btn"
            type="button"
            routerLink="/indikatoren"
          >
            Zur Tierwohl-Indikatoren
          </button>
        </div>



    </div>
  </div>
</div>
